{% extends 'Base.html.twig' %}

{% set titleStr = (new ? 'Create' : 'Edit') ~ ' ' ~ type %}
{% set buttonSrt = 'Save ' ~ (new ? 'new' : 'updated') ~ ' ' ~ type %}
{% set typeClass = type|replace({' ': ''}) %}

{% block body %}
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button>{{ buttonSrt }}</button>

    {{ form_end(form) }}

    <nav>
        <ul>
            <li><a href="{{ path(typeClass ~ '_List') }}" title="Back to list">Back to list</a></li>
            {% if not new %}
                <li><a href="{{ path(typeClass ~ '_Details', {'id': entity.id}) }}" title="Back to details">Back to details</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
