{% extends 'Base.html.twig' %}

{% set titleStr = type ~ ' List' %}

{% block bodyTitle %}{{ titleStr }} ({{ entities|length }}){% endblock %}

{% block body %}
    {# TODO check user is authorized to create #}
    <div class="btn-group-sm">
        <a class="btn-sm" href="{{ path(type ~ '_Create') }}" title="Add {{ type }}">Add {{ type }}</a>
    </div>

    <section>
        <ul>
            {% for entity in entities %}
                <li><a href="{{ path(type ~ '_Details', {'slug': entity.slug}) }}" title="{{ entity.name }}">{{ entity.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}