{% set CREATE = constant('App\\Constants\\EntityPermission::CREATE') %}
{% set READ = constant('App\\Constants\\EntityPermission::READ') %}
{% set UPDATE = constant('App\\Constants\\EntityPermission::UPDATE') %}
{% set DELETE = constant('App\\Constants\\EntityPermission::DELETE') %}

{% set titleStr = titleStr|default("Hello Symfony") %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ titleStr }}{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/Icon.jpg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% include 'Include/Nav.html.twig' %}

    {% include 'Include/FlashMessages.html.twig' %}

    <div class="container my-4">
        <header>
            <table>
                <tr>
                    <td>
                        <h2 class="mb-1">{% block bodyTitle %}{{ titleStr }}{% endblock %}</h2>
                    </td>
                    <td>
                        <div class="mx-2">{% block bodyTitleMenu %}{% endblock %}</div>
                    </td>
                </tr>
            </table>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
        </footer>
    </div>
</body>
</html>
