{% set titleStr = titleStr|default("Hello Symfony") %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ titleStr }}{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('images/Icon.jpg') }}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <h1>Hello Symfony</h1>
            {% include 'Include/Nav.html.twig' %}
        </header>

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>
            <h2>{% block bodyTitle %}{{ titleStr }}{% endblock %}</h2>

            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include 'Include/Nav.html.twig' %}
        </footer>
    </div>
</body>
</html>
